
<!-- Start mission section -->
<section class="mission-section section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 mission-left">
                <h1>
                   {{ site.data.mission.mission_title }}
                </h1>
                <p class="pt-20 pb-20">
                    {{ site.data.mission.mission_descript }}
                    
                </p>
                <a href="{{ site.data.mission.browse_free_btn_link }}" class="genric-btn2">{{ site.data.mission.browse_free_btn_text }}</a>
            </div>
            <div class="col-lg-6 text-center">
                <img class="img-fluid" src="{{ site.data.mission.image | relative_url }}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End mission section -->